<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.example.Frame_hw"
          android:versionCode="1"
          android:versionName="1.0">
    <uses-sdk android:minSdkVersion="19"/>
    <application android:label="@string/but1" android:icon="@drawable/ic_launcher">
        <activity android:name="MyActivity"
                  android:label="@string/fr1">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".Fragment_right"/>
        <activity android:name=".Frgament_left"/>

    </application>
</manifest>
